<div *ngIf="messageService.messages.length">
    <h2>Messages</h2>
    <button mat-stroked-button color="primary" type="button" (click)="messageService.clear()">
        Clear messages
    </button>
    <mat-list dense>
        <mat-list-item *ngFor='let message of messageService.messages'>
            {{message}}
        </mat-list-item>
    </mat-list>
</div>
