<div *ngIf="hero">
    <h2>{{hero.id}} {{hero.name | uppercase}} Details</h2>

    <div>
        <mat-form-field floatLabel="always" appearance="legacy">
            <mat-label for="hero-name">Hero name</mat-label>
            <input matInput id="hero-name" [(ngModel)]="hero.name" placeholder="Hero Name">
        </mat-form-field>
    </div>

        <button mat-stroked-button color="primary" type="button" (click)="goBack()">
            Go back
        </button>

        <button mat-stroked-button color="primary" type="button" (click)="save()">
            Save
        </button>
</div>
