<h2>My Heroes</h2>
<mat-form-field appearance="fill">
    <mat-label for="new-hero">Hero name</mat-label>
    <input matInput id="new-hero" #heroName placeholder="Hero Name">
</mat-form-field>

<button mat-button color="primary" type="button" (click)="add(heroName.value);heroName.value=''">
    Add hero
</button>

<mat-nav-list>
    <mat-list-item *ngFor="let hero of heroes">
        <mat-icon mat-list-icon (click)="delete(hero)">close</mat-icon>
        <a routerLink="/detail/{{hero.id}}">
            <span matBadge="{{hero.id}}" matBadgeOverlap="false">{{hero.name}}</span>
        </a>
    </mat-list-item>
</mat-nav-list>
