<div id="search-component">

    <mat-form-field appearance="fill">
        <mat-label for="search-box">Hero Search</mat-label>
        <input matInput id="search-box" #searchBox (input)="search(searchBox.value)">
    </mat-form-field>

    <mat-nav-list>
        <a mat-list-item routerLink="/detail/{{hero.id}}" *ngFor="let hero of heroes$ | async">
            {{hero.name}}
        </a>
    </mat-nav-list>
</div>
